#!/bin/sh

# Adjust this file for your needs
################################################################################
export DM38x_UBOOT1=original/MLO
export DM38x_UBOOT2=original/u-boot.bin
export DM38x_KERNEL=original/uImage
export DM38x_ROOTFS=original/ubifs_ipnc_full_feature.bin
#export DM38x_ROOTFS=/home/jiangjx/UbuntuShare/dm8127/filesys


