#!/bin/sh

# Adjust this file for your needs
################################################################################
#nand
export DM38x_UBOOT1=original/nand/u-boot.min.nand
export DM38x_UBOOT2=original/nand/u-boot.bin
export DM38x_KERNEL=original/nand/uImage_dm38x
export DM38x_ROOTFS=original/nand/ubifs_ipnc.bin

export FILESYS_DM8127=/home/jiangjx/UbuntuShare/dm8127/filesys
################################################################################
#sd
export DM38x_UBOOT1_sd=original/sd/MLO
export DM38x_UBOOT2_sd=original/sd/u-boot.bin

